# Export all functions starting with cauda.
exportPattern("^cauda")

# Imports
importFrom(corrplot, corrplot)
importFrom(grDevices, adjustcolor, colorRampPalette)
importFrom(graphics, legend, mtext, par, title)
importFrom(qgraph, qgraph)
importFrom(stats, cor, median, na.omit, predict, var)
importFrom(utils, combn, head)
